<!--<button (click)="noAlarm()" class="btn btn-md my-0 ml-sm-2 btn-dark btn-outline-success" type="submit">Kein Alarm</button>
<button (click)="alarm()" class="btn btn-md my-0 ml-sm-2 btn-dark btn-outline-success" type="submit">Alarm</button>-->

<div class="col-xl-12 text-center mt-5 mb-5">
  <img src="/assets/logo.png" width="10%"/>
</div>

<div class="col-xl-12 text-center" *ngIf="isAlarm == true" id="alarmBox">
  <img src="/assets/alarm.gif" width="40%"/>
</div>

<div  class="col-xl-12 text-center" *ngIf="isSafe == true" id ="safeBox">
  <img src="/assets/safe.png" width="40%">
</div>

<div  class="col-xl-12 text-center" *ngIf="noDetection == true" id ="orangeBox">
  <img src="/assets/orange.png" width="40%">
</div>


<!--<p *ngFor="let g of gyroData">{{ g.x }}</p>-->
<div class = "col-xl-12 text-center">

<button type="button" class="btn btn-dark btn-lg col-xl-2 mt-4 p-4" (click)='quitAlarm()'>Schutz deaktivieren</button>
<br>
<button type="button" class="btn btn-dark btn-lg col-xl-2 mt-2 p-4" (click)='startAlarm()'>Schutz starten</button>
<br>


</div>
<div class = "col-xl-12 text-center">
<!--<input  class = "col-xl-1 mt-3" type="text" id="durationTime" [(ngModel)]="pauseTime" placeholder="Pause (Min)">-->
  <br>
<button type="button" class="btn btn-dark btn-lg mt-3 p-5" (click)='pause15()'>15 Min</button>
<button type="button" class="btn btn-dark btn-lg mt-3 ml-4 p-5" (click)='pause30()'>30 Min</button>
  <button type="button" class="btn btn-dark btn-lg mt-3 ml-4 p-5" (click)='pause45()'>45 Min</button>
</div>


<div class = "col-xl-12 text-center mt-5"  id = "leftTimeTextSec" *ngIf="help == true && timeLeft < 60" >{{timeLeft}} Seconds Left....</div>
<div class = "col-xl-12 text-center mt-5"  id = "leftTimeTextMin" *ngIf="help == true && timeLeft > 59" >{{(timeLeft / 60) | number: '1.0-0'}} Minute(s) left</div>




<!--<input type="text" id="durationTime" [(ngModel)]="durationTime">
<button *ngIf="durationTime != null" (click)="pauseAlarm()"></button>-->
<!--
<p>{{timeLeft}} Seconds Left....</p>-->

